@page "/weather"
@using CinemaManager
@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1 class="spaced-h1-bottom">Lista dei Film</h1>

@if (films == null || films.Count == 0)
{
    <p>Nessun film disponibile.</p>
}
else
{
    <MudSimpleTable Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Style="overflow-x: auto;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th>Durata Minuti</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var film in films)
        {
            <tr>
                <td>@film.Id</td>
                <td>@film.Titolo</td>
                <td>@film.Descrizione</td>
                <td>@film.DurataMinuti</td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}

<h1 class="spaced-h1">Lista delle Sale</h1>

@if (sale == null || sale.Count == 0)
{
    <p>Nessuna Sala disponibile.</p>
}
else
{
    <MudSimpleTable Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Style="overflow-x: auto;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Numero Posti</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sala in sale)
        {
            <tr>
                <td>@sala.Id</td>
                <td>@sala.Nome</td>
                <td>@sala.NumeroPosti</td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    
    private List<Film> films = new List<Film>();
    private List<Sala> sale = new List<Sala>();
    
    [Inject]
    private CinemaDbContext DbContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        films = await DbContext.Films.ToListAsync();
        sale = await DbContext.Sale.ToListAsync();
    }
}